@model OnlineStore.BLL.ViewModels.Account.NewPasswordViewModel

<div id="newPassContainer">
    <h2>Password Renewal</h2>
    <form id="newPassForm" asp-action="NewPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">New password</label>
            <input type="password" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label">Confirm password</label>
            <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input id="newPassBtn" type="submit" value="Confirm" class="btn btn-dark" />
        </div>
    </form>

    <div id="actionsBlock">
        <a id="backToLogInBtn" class="btn btn-dark" asp-action="LogIn">Back to Log In page</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}